 @font-face {
 	font-family: Century Gothic;
 	src:url('../fonts/Century Gothic.ttf');
 }
  @font-face {
 	font-family: Century Gothic bold;
 	src:url('../fonts/Century Gothic_bold.ttf');
 }
 @font-face {
 	font-family: Jura;
 	src:url('../fonts/Jura-Medium.ttf');
 }

 @font-face {
 	font-family: SourceCodePro-EL;
 	src:url('../fonts/SourceCodePro-ExtraLight.otf');
 }

@font-face {
	font-family: SourceCodePro-Regular;
	src:url('../fonts/SourceCodePro-Regular.otf');
}

@font-face {
	font-family: Verdana;
	src:url('../fonts/Verdana.ttf');
}