@import 'fonts.css';
body {
	background-color: #f1f1f1;
}

.top-bar {
	background-color: #fcfcfc;
	font-family: Century Gothic;
	font-size: 9pt;
	color: #a2a2a2;

}

.iz {
	text-align-last: center;
}

.navbar {
	/*background-color: #fcfcfc;*/
	/*font-family: Century Gothic;*/
	font-size: 9pt;
	height: 50px;
	
}

.nav-link {
	color: #222222 !important;
}

.nav-link:hover {
    color:  #a2a2a2 !important;
}

.carousel-inner {
	height: 620px;
	
}

.footer {
	background-color: #f8f9fa;
}

.slash::after {
	display: inline-block;
	padding-left: 20px;
	color: #6c757d;
	content: "/";
}

.top-bar a {
    color: #a2a2a2;
    text-decoration: none;
} 

.top-bar a:hover {
    color: #222222;
    text-decoration: none;
}